In [5]:
import pandas as pd
data=pd.read_csv('D:\\GitHub\\Airbnb\\Feature Mapping + Sentiment\\All_listing_feature_sentiment_reviewer-Aggr1.csv', error_bad_lines=False)

In [24]:
data.iloc[:,2:4]

        listing_id  reviewer_id
0            35644      5394983
1            35644      5394983
2            35644      5394983
3            35644      5394983
4            35644      5394983
5            35644      5394983
6            35644      5394983
7            35644      3712269
8            35644      3712269
9            35644      3712269
10           35644      2908896
11           35644      2908896
12           35644      2908896
13           35644      2908896
14           35644      2908896
15           35644      2908896
16           35644      3941752
17           35644      3941752
18           35644      3941752
19           35644      3941752
20           35644      3941752
21           35644      3941752
22           35644      3941752
23           35644      2735578
24           35644      2735578
25           35644      1009269
26           35644      1009269
27           35644      1009269
28           35644      1009269
29           35644      1009269
...            ...          ...
685765    29826978    225284075
685766    29826978    225284075
685767    29826978    110378586
685768    29826978    110378586
685769    29834244     54451723
685770    29834244     54451723
685771    29903362    201404862
685772    29903362    201404862
685773    29903362    201404862
685774    29929970     25715536
685775    29946329     16693482
685776    29946329     16693482
685777    29946329     16693482
685778    29946329     16693482
685779    29946329     16693482
685780    29946329     16693482
685781    29946329     16693482
685782    29946329     16693482
685783    29946329     16693482
685784    29951405    106801283
685785    29951405    106801283
685786    29951405    106801283
685787    29951405    135448102
685788    29951405    135448102
685789    29951405    135448102
685790    29970350     28434681
685791    29970350     28434681
685792    30004534    225461895
685793    30004534    225461895
685794    30004534    225461895

[685795 rows x 2 columns]

In [32]:
#This computes & stores feature wise sentiment score for each listing-reviewer combination
#final_data = pd.DataFrame([])
final_data = data.iloc[:,2:4]
loop = ["f0","f1","f2","f3","f4","f5","f6","f7"]
for i in range(len(loop)):
    non_zero = data.loc[data[loop[i]]!=0]
    #data_grouped = data.groupby('listing_id')[loop[i]].apply(lambda x: pd.Series([(x < 0).sum()/x.count(),(x > 0).sum()/x.count()])).unstack()
    data_grouped = non_zero.groupby(['listing_id', 'reviewer_id'])[loop[i]].apply(lambda x: pd.Series([x.mean()])).unstack()
    print(i)
    final_data = pd.merge(final_data,data_grouped[0], how = 'left', on = ['listing_id', 'reviewer_id'])
    #final_data[loop[i]+'p'] = data_grouped[1]

0
1
2
3
4
5
6
7

In [33]:
final_data=final_data.drop_duplicates()

In [34]:
final_data.to_csv('D:\\GitHub\\Airbnb\\Feature Mapping + Sentiment\\temp_featurewise.csv', sep=',')

In [ ]:
#This computes & stores overall sentiment score for each listing-reviewer combination
final_data = pd.DataFrame([])
non_zero = data.loc[data['compound_score_vader']!=0]
data_grouped = non_zero.groupby(['listing_id', 'reviewer_id'])['compound_score_vader'].apply(lambda x: pd.Series([x.mean()])).unstack()
final_data['overall_avg'] = data_grouped[0]
final_data.to_csv('D:\\GitHub\\Airbnb\\Feature Mapping + Sentiment\\temp_overall.csv', sep=',')